@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

:root {
	--primary-bg: #0b0c10;
	--secondary-bg: #1f2833;
	--primary-text: #66fcf1;
	--secondary-text: #45a29e;
	--natural-text: #edf0ef;
	--color-white: #ffffff;
	--color-dark: #000000;


	--container-width-lg: 75%;
	--container-width-md: 86%;
	--container-width-sm: 90%;


	--transition: all 400ms ease
}


html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	display: none;
}

body {
	font-family: 'Lato', sans-serif;
	background: var(--primary-bg);
	color: var(--color-white);
	line-height: 1.7;
	/* background-image: url(./assets/images/network.gif); */
	/* background-size: cover; */
	/* background-repeat: no-repeat; */
	/* background-position: center; */
}


/* General Styles */

.container {
	width: var(--container-width-lg);
	margin: 0 auto;
}

h1, h2, h3, h4, h5 {
	font-weight: 500;
}

h1 {
	font-size: 2.5rem;
}

section {
	margin-top: 8rem;
	/* height: 100vh; */
	
}

section > h2, 
section > h5 {
	text-align: center;
	color: var(--natural-text);
}

section > h2 {
	color: var(--primary-text);
	margin-bottom: 3rem;
}

.text-light {
	color: var(--natural-text);
}

a {
	color: var(--primary-text);
	transition: var(--transition);
}

a:hover {
	color: var(--color-white);
}

.btn {
	width: max-content;
	display: inline-block;
	color: var(--primary-text);
	padding: 0.75rem 1.2rem;
	border-radius: 0.8rem;
	cursor: pointer;
	border: 0.125rem solid var(--primary-text);
	transition: var(--transition);
}

.btn:hover {
	background: var(--color-white);
	color: var(--primary-bg);
	border-color: transparent;
}

.btn-primary {
	background: var(--primary-text);
	color: var(--primary-bg);
}

img {
	display: block;
	width: 100%;
	object-fit: cover;
}

/* ******** MEDIA QUERIES (MEDIUM DEVICES)   ******** */

@media screen and (max-width: 1024px) {
	.container {
		width: var(--container-width-md);
	}

	section {
		margin-top: 6rem;
	}
}



/* ******** MEDIA QUERIES (SMALL DEVICES)   ******** */

@media screen and (max-width: 600px) {
	.container {
		width: var(--container-width-sm);
	}

	section > h2{
		margin-bottom: 2rem;
	}
}

